
// Body
$body-bg: #f5f8fa;
$accent-color: #2c91ed;
$background-color: #ffffff;
$theme-color: #ec092a;
$theme-background-color: #1a1a1a;


// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


//Slick

$slick-arrow-color: #6c757d;

