
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Vendors
@import "vendor/tabulator/themes/tabulator_bootstrap";
@import "vendor/tabulator/tabulator";
@import "vendor/jquery.toastmessage.css";
@import "~nouislider/distribute/nouislider.css";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
@import "~stf-vue-select/dist/lib/stf-vue-select.min.css";
@import "vendor/stf-select";

//Pages
@import "admin";
@import "item";

//Layouts
@import "header";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
.padding-1px{
  padding: 1px;
}

.pay-method{
  margin-top: 2em;
  font-size: 1.2em;
}
.order-number{
  font-size: 1.1em;
  font-weight: 600;
}


.modal-header {
  border-bottom:1px solid #eee;
  border-radius: 0;
}
.modal-content{
  border: none;
  border-radius: 0;
}

.modal-lg {
  max-width: 90% !important;
}